@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;800&display=swap');
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}
  
.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

  
/*class header */

header {
    height: 65px;
    width: 100%;
    background-color: rgba(29, 34, 40, 0.9);
    position: fixed;
    top:0;
    z-index: 10;
    box-shadow:  0px 0px 5px 0px #ffffff;
    margin:0px 0px 5px 0px;
}
  
.logo {
    width: 124px;
}
  
.header-left {
    float: left;
}
  
.header-right {
    float: right;
    transition: all 0.5s;
}
.header-right ul {
    list-style: none;
    position: relative;
}

.header-right ul li:hover > ul {
    display: block;
    border-radius: 5px;
}

.header-right ul li {
    float: left;
}

.header-right ul li a{
    padding: 5px 20px;
    color: #FB8122;
    display: block;
    cursor: pointer;
}

.header-right ul li a:hover{
    background:  rgba(255, 255, 255, 0.9);
    border-radius: 5px;
}

.header-right ul ul {
    background: rgba(29, 34, 40, 0.9);
    padding: 0;
    margin-bottom:10px;
    position: absolute;
    display: none;
    width:30%;
}
  
.top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(asset/1.jpg);
    background-size: cover;
    color: white;
    text-align: center;
    height:auto;
}
  
.top-wrapper h1 {
    font-size: 35px;
    letter-spacing: 2px;
    color:red;
}

.top-wrapper span {
    color:white;
    font-size: 50px;
    letter-spacing: 5px;
}
  
  
.btn-wrapper {
    margin: 20px 0;
}

.start {
    background-color: #FB8122;
}

.btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    border-radius: 4px;
}

.btn:hover {
    opacity: 1;
}



.opening-words img {
    float: left;
    width:40%;
    border-radius: 10px 10px 10px 10px;
    margin-right:20px;
}
.opening-words p {
    text-align:justify;
}


  

.items{
   text-align: center;
}

.item-hr {
    border-color: red;
    border-style: groove;
    width:20%;
    text-align:left;
}


.item {
    display:inline-table;
    width:30%;
    padding:0 10px;  
}

.item-icon {
    position: relative;
}
.item-icon img {
    width: 100%;
    border-radius: 10px 10px;
}
.item-icon img:hover {
    transform: scale(1.1);
}

.item h3 {
    font-size:18px;
    padding-bottom:20px;
}
  

footer img {
    width: 125px;
}
  
footer p {
    color: #b3aeb5;
    font-size: 12px;
}
  
footer {
    margin-top:100px;
    padding-top: 30px;
    height: 150px;
    width: 100%;
    background-color:  rgba(29, 34, 40, 0.9);
}

